/* Base styles*/
h1 {
  font-size: 16pt; font-weight: bold; color: #FFF;
  background-color: #203894; margin: 0px; padding: 3px 0px 3px 0px; }
#apptitle {
  background-image: url('../images/top.png');
  background-position: top-left; background-repeat: x-repeat;
  height: 50px; background-color: none}
#menu { border-bottom: 1px solid #203894; padding-bottom: 4px;}
.menuitem li { padding-top: 3px; }
th { -moz-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; }
th:hover { background: #E9E9E9; }

tr.shade1:hover { background-color: #F2F2F2; }
tr.shade2:hover { background-color: #F2F2F2; }
tr.critical { background-color: #FF4433; }
tr.critical:hover { background-color: #FFAAAB; }
strong.critical { text-decoration: blink; }
tr.critical strong.critical { color: #FFF; }
tr.urgent:hover { background-color: #FFAAAB; }
tr.expired:hover { background-color: #F2F2F2; }
tr.notice:hover { background-color: #F2F2F2; }

img { border:0px; }

#footerbar select { font-size: 80%; }
#footerbar form { margin: 0px; }
#statusbar { background-color: #203894; }

div.windowbox
{
  border: 1px solid #203894;
  width: 95%;
}

div.windowtitle
{
  background-color: #203894;
}
div.windowtitle div { float: right; }
div.window table { width: 100%; }

em.important, strong.important { color: red; }
option.disable { color: red; }
option.enable { color: #00AA00; }
option.seperator { border-top: 1px solid black; }

/* Information and Errors */
sup.red { color: #F00; font-size: 125%; } /* FIXME doesn't need a class for this */
td sup { color: #444; }
p.tip,p.info, p.warning, p.error, p.trigger, h5.warning, h5.error
{
  background-position: 3px 2px;
  background-repeat: no-repeat;
  padding: 3px 3px 3px 22px;
  min-height: 16px;
  -moz-border-radius: 5px;
  /* display: inline; */
  border: 1px solid #000;
  margin-left: 2em;
  margin-right: 2em;
  width: auto;
  text-align: left;
}
p.tip
{
  background-image: url('../images/icons/sit/16x16/tip.png');
  color: black;
  border: 1px solid black;;
  background-color: #FFFFEB;
}
p.info
{
  background-image: url('../images/icons/sit/16x16/info.png');
  color: #17446B;
  border: 1px solid #17446B;
  background-color: #F4F6FF;
}
p.info span, p.error span, p.warning span, p.trigger span { float: right; margin-right: 10px; }
p.warning, h5.warning
{
  background-image: url('../images/icons/sit/16x16/warning.png');
  color: #5A3612;
  border: 1px solid #A26120;
  background-color: #FFECD7;
}
p.error, h5.error
{
  background-image: url('../images/icons/sit/16x16/error.png');
  color: #f00;
  border: 1px solid #f00;
  background-color: #FFE1E1;
}
p.error, span.error{ color: #f00; }
p.warning span a { color: #5A3612; }
p#dismissall { text-align: right; padding-right:32px; }

strong.info,em.info,u.info,span.info
{
   background: #E1FFFF; border: 1px solid #BFD8D8; padding: 2px; cursor: help;
}
p.trigger
{
  background-image: url('../images/icons/oxygen/16x16/trigger.png');
  background-position: left;
  background-repeat: no-repeat;
  color: black;
  border: 1px solid black;;
  background-color: #FFFFEB;
}

#menu
{
/*  float: left; */
  display: block;
  color: #000;
  margin-bottom: 5px;
  width: 100%;
  height: 20px;
}

#menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  background-color:#FFF;
}

#menu li {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
}

#menu li:hover {
  color: #900;
  background-color: #FFF;
}


#menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #5B5B5B;
  padding: 0.25em 0.8em 0.25em 0.8em;
}

#menu a.greyed, #menu a.greyed:hover { color: #C6C3C6; }

#menu li a {
  position: relative;
}

#menu li:hover>a, #menu a:hover {
  color: #205D94;
}

#menu li ul {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  color: #000;
  background-color: #FFFFFF;
  /*padding-top: 14px; */
  padding-bottom: 0px;
  line-height: 14px;
  width: 130px;
  left: -1px;
}

html>body #menu li ul {  display: none; }

#menu li li {
  width: 100%;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #C5C5C5;
  background: white;
}

#menu li li ul {
  top: 0;
  left: 100%;
}

div#menu li:hover ul,
#menu li:hover li:hover ul,
#menu li:hover li:hover li:hover ul {
    visibility: visible;
}
div#menu li:hover li ul,
#menu li:hover li:hover li ul,
#menu li:hover li:hover li:hover li ul {
    visibility: hidden;
}

#menu ul li:hover>ul {
  display: block;
  visibility: visible;
}

#menu li ul a {
  text-align: left;
  font-weight: normal;
  word-spacing: 0px;
}

#menu li ul a:hover
{
  background-color: #CCC;
  filter:alpha(opacity=75);
  opacity: 0.75;
  -moz-opacity:0.75;
}

.portaleft
{
  width: 20%;
  float: left;
  border: 1px dotted #9C9C9C;
  background: #F7FAFF;
  padding-left: 5px;
}


#topsearch { text-align: right; }
#topsearch form {margin: 1px 7px 0px 0px; }
#topsearch #searchfield {
  border:1px solid #CCCCCC;
  padding:3px 3px 3px 20px;
  background:transparent url('../images/searchbg.png') no-repeat scroll 4px center;
  color: #888;
}

#incidentqueues form { text-align: center; }


.helplink { vertical-align: super; color: #555; margin-left: 2px; font-size: 85%; }
.helplink a { text-decoration: none; cursor: help; position: relative; color: #CC0000; }
.helplink a span { display: none; position: absolute;
  /*top: 20px;*/
  /* left: -10px; */
  width: 125px;
  padding: 5px;
  z-index: 100;
  background: #CC0000;
  color: #fff;
  -moz-border-radius: 5px; /* this works only in camino/firefox */
  -webkit-border-radius: 5px; /* this is just for Safari */
  cursor: pointer;
  text-align: left;
  /*margin-right: 20px;*/
}
.helplink a:hover { font-size: 99%; /* this is just for IE */ text-decoration: none; color: #CC0000; }
/* .helplink a:hover span { display: block; } */

/* Incident Queues */
span.actionqueue { color: Red; }
span.waitingqueue { color: Green; }
span.openqueue { color: Blue; }
span.closedqueue { color: Gray; }

a.direct { color: #000; }
em.updatednow { color: #640000; font-weight: bolder; }
em.updatedveryrecently { color: #640000; }
em.updatedrecently { }

p#pageoptions { float: right; top: -10px; position: relative; }
form.filterform { margin-left: auto; margin-right: auto; margin-bottom: 1em; }
form.filterform { margin-left: auto; margin-right: auto; margin-bottom: 1em; }

.search_highlight { background: #FFFACD; font-weight: bolder; }

div#kbarticle
{
    border: 1px solid;
    padding: 5px;
    width: 55%;
    margin: 30px auto;
}

div#container
{
    padding: 5px;
    width: 55%;
    margin: 30px auto;
}
#kbarticle h1,#kbarticle h3,#kbarticle h4, #kbarticle h5,#kbarticle h6
{
  text-align: left; background: transparent; color: #0063dc;
  width: 100%;
  border-bottom: 1px #203894 solid;
}
#container h1,#container h3,#container h4, #container h5,#container h6
{
  text-align: left; background: transparent; color: #0063dc;
  width: 100%;
  border-bottom: 1px #203894 solid;
}

div#kbarticle textarea { width: 99%; }
div#kbarticle h3 span { color: black; font-size: 70%; font-weight: normal; }

span.required
{
  font-size: 0.8em;
  color: red;
}

input.required, select.required{
  background-color: #FFD8DE;
}

div#incidentfooter { border-top: 1px solid #203894; }


div.bbcode_toolbar a
{
    background: #3366CC;
    color: white;
    padding: 1px;
    border: 1px solid #3366CC;
    min-width: 20px;
}
div.bbcode_toolbar a:hover
{
    background: white;
    color: #3366CC;
    text-decoration: none;
}

div#portaluser { float: right; text-align: right; }


#loginform input[type=text], #loginform input[type=password]  { width: 90%; }