/* Webtrack Orange'n Grey Style: Orange'n Grey */
/* by Paul Harrison, paul.harrison@salfordsoftware.co.uk - August 2001 */

body        { background-color: #FFFFFF; color: #000000; font-family: Tahoma, Helvetica, sans serif; }
p       { font-size: 8pt; color: #000000; }
table       { font-size: 8pt; color: #000000; }
td      { font-size: 8pt; color: #000000; }
a       { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #808080; font-weight: bold; text-decoration: none; }
a:hover     { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #808080; font-weight: bold; text-decoration: underline; }
a:active    { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #808080; font-weight: bold; text-decoration: underline; }
center      { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #000000; }

/* Pagetitle is used for individual page headings */
.pagetitle  { font-family: Tahoma, Helvetica, sans serif; font-size: 14pt; color: #000000; font-weight: bold; text-align: center; }
.subtitle   { font-family: Tahoma, Helvetica, sans serif; font-size: 12pt; color: #000000; font-weight: bold; text-align: center; }
.large          { font-family: Tahoma, Helvetica, sans serif; font-size: 14pt; font-weight: bold; }
.narrow     { font-family: Arial Narrow, Helvetica, sans serif; font-size: 8pt; color: #000000; }

/* .error is used for error messages */
.error      { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #FF0000; font-weight: bold; text-align: center; }
.red        { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #FF0000; }
.barlink    { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #808080; font-weight: bold; text-decoration: none; }
.barlink:hover  { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #FFA953; font-weight: bold; text-decoration: none; }
.barlink:active { font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #FFFFFF; font-weight: bold; text-decoration: none; }
.navbarmenu { background-color: #000000; font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; font-weight: bold; color: #FFFFFF; height:20px; }


/* Shading for tables*/
.mainshade  { background-color: #FFFFFF; }
.shade1     { background-color: #FFC68C; }
.shade2     { background-color: #FFA953; font-family: Tahoma, Helvetica, sans serif; font-size: 8pt; color: #FFFFFF; font-weight: bold; text-decoration: none;  }
.urgent     { background-color: #E8B7DD; }
.critical   { background-color: #f08080; }
.expired    { background-color: #DDDDDF; }
.idle       { background-color: #CCffCC; } /* #90ee90; */



.tablelist td {border-left: 1px solid #ffffff;border-top: 1px solid #ffffff;}
table.tablelist {border: 1px solid #ffffff;}
.tablelist tr {border: 1px solid #ffffff; border-right: 1px solid #ffffff ! important;}
.tablelist th {border-left: 1px solid #ffffff; border-top: 1px solid #ffffff;}
