Package: sit
Version: !SITVERSION!
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: debconf (>= 0.5) | debconf-2.0, libapache2-mod-php5 | libapache-mod-php5 | php5-cgi | php5 | libapache2-mod-php4 | libapache-mod-php4 | php4 | php4-cgi, php5-mysql | php4-mysql
Recommends: apache2 | httpd, php5-gd | php4-gd
Suggests: mysql-server
Installed-Size: !SITSIZE!
Homepage: http://sitracker.sourceforge.net
Maintainer: Ivan Lucas <ivanlucas@users.sourceforge.net>
Uploaders: Paul Heaney <paulheaney@users.sourceforge.net>
Description: Support Incident Tracker (or SiT!) is a web based application for tracking technical support calls/emails. Engineers work to Service Level Agreements and incidents are flagged if they stray outside of them.
