Source: sit
Section: web
Priority: optional
Maintainer: Ivan Lucas <ivanlucas@users.sourceforge.net>
Build-Depends: debhelper (>= 5.0.0), cdbs,
Standards-Version: 3.7.3
Homepage: http://sitracker.sourceforge.net

Package: sit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Support Incident Tracker
 <insert long description, indented with spaces>
