#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp
	debconf-updatepo
	dh_clean


install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	# Install application files
	install	-D -m 644 *.php debian/sit/usr/share/sit
	install	-D -m 644 htdocs/*.php htdocs/*.js htdocs/*.ico debian/sit/usr/share/sit/htdocs
	install	-D -m 644 htdocs/auto/*.php debian/sit/usr/share/sit/htdocs/auto
	install	-D -m 644 htdocs/help/*.php debian/sit/usr/share/sit/htdocs/help
 
	cp -r auto help images incident reports scripts statistics styles debian/sit/usr/share/sit/htdocs
	
	# Install configuration files
#	install -D -m 644 -o www-data debian/config_inc.php debian/sit/etc/sit/config_inc.php.template
#	install -D -m 644 -o www-data debian/config_local.php debian/sit/etc/sit/
#	install -D -m 644 -o www-data debian/apache.conf debian/sit/etc/sit/

	# Install sql files
#	install -D -m 666 debian/sql/create_database.sql debian/sit/usr/share/dbconfig-common/data/sit/install/mysql
#	install -D -m 666 debian/sql/upgrade_database.sql debian/sit/usr/share/dbconfig-common/data/sit/upgrade/mysql/1.0.6-1

	# Install and fix upstream changelog
#	install -D doc/ChangeLog debian/sit/usr/share/doc/sit/changelog

binary-arch: build install
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -XLICENSE -XChangeLog -XINSTALL
	dh_installdebconf
	dh_link
	dh_fixperms
	dh_compress
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
