/* Neoteric CSS2 Style Sheet for SiT! */
/* by Ivan Lucas, ivan.lucas@users_sourceforge.net - December 2004 */
/* Neoteric now uses the base style with no modifications */

div#help
{
    width: 80%; margin-left: auto; margin-right: auto;
    background-color: #F2F2F2;
    -moz-border-radius: 7px;
    padding: 1em;
}
#help h1, #help h2, #help h3, #help h4
{
    text-align: left;
    margin-bottom: 0.3em;
}

div.detailentry, div.detailentryhidden
{
    border: 1px dotted #9C9C9C;
    width: 95%;
    background: #F7FAFF; /* #F7FAFF; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding-top: 20px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

.detailentry img, .detailentryhidden img { border: 0px; }

.detailentry table tr:hover { color: white; }
.detailentry table td { background-color: transparent; }

div.detailhead, div.detailinfo, div.detailheadhidden, div.detailinfohidden
{
    border: 1px solid #CDCEFF;
    background: #F0F0FF;  /* #C5B2D5; */
    padding: 0.2em 0.7em;
    font-size: 120%;
    margin-top: 10px;
    -moz-border-radius: 6px;
    top: 10px;
    margin-left: 7%;
}

div.detailentryhidden, div.detailheadhidden { background: transparent; }

div.detailhead, div.detailheadhidden
{
    max-width: 80%;
    width: 80%;
    position: relative;
}
div.detailinfo, div.detailinfohidden
{
    width: 80%;
    margin-bottom: 2em;
    position: relative;
}
div.detailinfohidden, div.detailheadhidden
{
    border-color: #BDBDBD;
    background: white;
    /* color: #8A888A; */
}
div.detaildate
{
    float: right;
    color: #06377F;
    padding-left: 1em;
    position: relative;
    top: 3px;
}
div.detaildate input[type=text] { color: #06377F; border: 1px dotted #06377F; background: transparent; }

div.detailfoot
{
    border: 1px solid black;
    width: 20%;
    background: #D5DEE6;
    margin-bottom: 1em;
    margin-left: 60%;
}

div.note { font-size: 98%; background-color: #FFFFA2; border-color: #A2A86A; margin-top: 0px; }
div.appointment:hover { background-color: #FFFFA2; cursor: pointer; }
div.appointmentdata
{
    visibility: hidden;
    display: none;
    z-index: 2; width: 150px; height: 30px;
    background: white; position:absolute; top: 5px; left: 5px;
    border: 1px solid black;
    filter:alpha(opacity=85);
    opacity: 0.85;
    -moz-opacity:0.85;
    padding: 2px;
}
div.appointmentdata h2 { font-size: 100%; font-style: bold; background-color: #CCCCFF; padding: 0px; margin: 0px;}
div.appointmentdata h2 a {color: red; float: right; }
div.appointmentdata h2 a:hover {background: white;}
.deleted { text-decoration: line-through; }

.dojoComboBox { height: 1.5em; }


div.taglist
{
    border: 1px solid #808080;
    background: #F7FAFF;  /* #C5B2D5; */
    padding: 0.2em 0.7em;
    font-size: 120%;
    -moz-border-radius: 6px;
}

.tagcloud
{
    word-spacing: 7px;
}

div.img-dec img
{
margin: 5px;
border: 1px solid #808080;
}

#detailsummary
{
    background: #F7FAFF;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #203894;
}
#detailsummary table, .detailentry table
{
    width: 100%;
    background-color: transparent;
}
#detailsummary table td
{
    vertical-align: top;
}
#detailsummary h1
{
    font-size: 150%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#detailsummary img
{
    vertical-align: text-top;
}

#tabcontainer
{
    width: 100%;
    background: #fff;
    padding-left: 0px;
    border-bottom: 2px dotted #9C9C9C;
}
#tabnav
{
    height: 20px;
    margin: 0;
    padding-left: 10px;
}

#tabnav li
{
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#tabnav a:link, #tabnav a:visited, .submit
{
    float: left;
    background: #F6F2FF;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}

#tabnav a:link.active, #tabnav a:visited.active, .active
{
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

#tabnav a:hover
{
    background: #fff;
}


span.quoteirrel { color: grey; }
span.quote1 { color: #749BC2; }
span.quote2 { color: green; }
span.quote3 { color: magenta; }
span.quote4 { color: #FF9933; }
span.sig { color: red; }

.on {background-color:#84C1DF;}
.off {background-color:white;}

#navmenu
{
    color: white;
    background: #203894;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
#navmenu a { color: white; }
#navmenu a em { color: #ddd; }


@media print
{
    #menu, #statusbar, h1#apptitle, #menulist, .contextmenu {visibility:hidden; display:none;}
}

